
importFrom("stats", "dist")
export(entropy)
export(boot)
export(jointentropy)
export(distcorr)
export(get_mse)
export(kld)
export(get_bias)
export(get_var)
export(bvto)
export(mic)
export(mi)
export(perm)
